  #book{
        text-align: center;
        color: aqua;
  }
  #sdd{
    text-align: center;
    font-size: 30px;
    background-color: #d2fa06;
    text-transform: capitalize;
    text-decoration: underline blue;
  }
  .bottom-nav {
    position: fixed; 
    bottom: 0;       
    left: 0;
    width: 100%;     
    background-color: #0c0c0c;
    display: flex;   
    justify-content: space-around; 
    padding: 10px 0;
    box-shadow: 0 -2px 1px rgb(193, 16, 16); 
    border-top: 1px solid #e41d1d;
    z-index: 1000;
    

    
}

.bottom-nav a {
    text-decoration: none;
    color: rgb(231, 219, 219);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

 .bottom-nav i {
    font-size:16px; 
    margin-bottom: 9px;
} 

.bottom-nav a:hover {
    color: #007bff; 
    text-decoration: underline;
}



/* १. प्रत्येक स्टॅंडर्डचा मुख्य डबा (दोन्ही बटन्समधला परफेक्ट गॅप) */
.dropdown {
    width: 100%;
    margin-bottom: 1px auto; /* यामुळे खालचे बटन्स नीट खाली सरकतील */
    display: block;      
    clear: both;
}

/* २. मुख्य हिरवे बटण (dropbtn) */
.dropbtn {
    background-color: #1cc88a; /* तुझा मूळ हिरवा रंग */
    color: white;
    padding: 9px;
    width: 100%;
    border: none;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    box-sizing: border-box;
    display: block ; 
}

/* ३. पुस्तकांचा डबा (dropdown-content) - सुरुवातीला पूर्ण बंद */
.dropdown-content {
    display: none;        /* यामुळे ३ पुस्तके असोत की १०, ती स्वतःची नॅचरल जागा घेतील */
    background-color:#1e74cd;
    color: #ffffff;
    border-radius: 0 0 8px 8px;
    padding: 6px 30px;
    box-sizing: border-box;
    text-align: center;
    font-weight: 900;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease;
    padding-bottom: 50px;
}
    


/* ४. जेव्हा बटणावर क्लिक होईल (active होईल), तेव्हाच पुस्तकं दिसतील */
.dropdown.active .dropdown-content {
    display: block;       /* क्लिक केल्यावर पुस्तकांचा डबा खाली उघडेल */
    border: 1px solid #e3e6f0;
    border-top: none;
}

/* ५. पुस्तकांच्या लाल लिंक्स */
.dropdown-content a {
    display: block;
    color: #cffc1d;       /* तुझा लाल रंग */
    padding: 12px 10px;
    text-decoration: none;
    font-size: 15px;
    border-bottom: 1px solid #eaecf4;
}

/* ६. शेवटच्या पुस्तकाची खालची लाईन काढण्यासाठी */
.dropdown-content a:last-child {
    border-bottom: none;
}

